@use 'normalize.css/normalize.css';
@use 'swiper/swiper-bundle.css';
@use 'ion-rangeslider/css/ion.rangeSlider.min.css';
@import 'common/fonts';
@import 'common/vars';
@import 'common/animations';
@import 'common/global';

@import 'ui/btns';
@import 'ui/forms';

@import 'parts/common/header';

@import "parts/modal";
@import "parts/product-card";
@import "parts/review-card";
@import "parts/breadcrumbs";
@import "parts/pagination";
@import "parts/range-slider";

@import "components/main-block";
@import "components/category-list";
@import "components/advantages";
@import "components/product-slider";
@import "components/services";
@import "components/about";
@import "components/reviews-slider";
@import "components/partners-slider";
@import "components/request";
@import "components/product-info";
@import "components/product-description";
@import "components/catalog";

.links-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid $lightGrey3;
  padding: 50px 0;

  a {
    transition: color .2s ease;

    &:hover {
      color: $blue;
    }
  }
}

@import 'parts/common/footer';
