.btn {
  background-color: $blue;
  color: $white;
  border-radius: 5px;
  font-weight: 600;
  padding: 18px 30px;
  transition: background-color .2s ease, box-shadow .2s ease, color .2s ease;

  &_red {
    background-color: $red;
  }

  &_ghost {
    background-color: transparent;
    border: 1px solid $blue;
    color: $black;
  }

  &_grey {
    color: $black;
    background-color: rgba($black, .04);
  }

  &:hover {
    background-color: $blue2;
  }

  &_red:hover {
    background-color: $redHover;
  }

  &_ghost:hover {
    background-color: $blue;
    color: $white;
  }

  &_grey:hover {
    background-color: rgba($black, .08);
  }

  &:active {
    background-color: $blue;
    box-shadow: 0px 0px 0px 4px rgba(28, 60, 234, 0.2);
  }

  &_red:active {
    background-color: $red;
    box-shadow: 0px 0px 0px 4px rgba($red, 0.2);
  }

  &_grey:active {
    background-color: rgba($black, .04);
    box-shadow: 0px 0px 0px 4px rgba($black, 0.05);
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    background-color: $lightPurple;
  }

  &_grey:disabled {
    background-color: rgba($black, .01);
  }

  &_red:disabled {
    background-color: $redDisabled;
  }
}

@media (max-width: 768px) {
  .btn {
    &:hover {
      background-color: $blue;
    }

    &_red:hover {
      background-color: $redHover;
    }

    &_ghost:hover {
      background-color: $blue;
    }

    &_grey:hover {
      background-color: rgba($black, .08);
    }

    &:active {
      box-shadow: none;
    }
  }
}

@media (max-width: 500px) {
  .btn {
    padding: 13px 25px;
  }
}