.input {
  background-color: rgba($white, .8);
  border: 1px solid $lightGrey6;
  border-radius: 5px;
  padding: 16px 20px;
  color: $black;
  transition: box-shadow .2s ease, border-color .2s ease;

  &::placeholder {
    color: $lightGrey;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 0px 4px rgba(28, 60, 234, 0.2);
  }

  &_error:not(:focus):not(:hover) {
    border-color: $red;
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: .1px;
    height: .1px;
    visibility: hidden;
    opacity: 0;
    z-index: -10;
    overflow: hidden;
  }

  &__field {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid $lightGrey6;
    transition: background-color .2s ease, border-color .2s ease;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 10px;
      height: 7px;
      background-image: url('../../img/icons/checked.svg');
      opacity: 0;
      transition: opacity .2s ease;
    }
  }

  &:hover &__field {
    border-color: $blue;
  }

  &__input:checked ~ &__field {
    background-color: $blue;
    border-color: $blue;

    &::before {
      opacity: 1;
    }
  }

  &:hover &__input:checked ~ &__field {
    background-color: $blue2;
    border-color: $blue2;
  }

  &__text {
    font-size: 14px;
    line-height: 143%;
    color: $grey;
    margin-left: 10px;
  }
}