.breadcrumbs {
  background-color: $lightGrey8;
  padding: 20px 0;
  margin-bottom: 30px;

  &__list {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: $lightGrey;
    font-size: 14px;
    line-height: 107%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: -10px;
      background: linear-gradient(90deg, rgba(245, 245, 245, 0) -36.84%, #F5F5F5 75%);
      pointer-events: none;
      width: 38px;
      height: 40px;
      z-index: 1;
    }

    &-item {
      position: relative;

      & + & {
        padding-left: 29px;

        &::before {
          content: '';
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          background-image: url('../../img/icons/short-right-arrow.svg');
          width: 9px;
          height: 8px;
        }
      }
    }

    a {
      color: $grey;
      transition: color .2s ease;

      &:hover {
        color: $black;
      }
    }
  }
}

@media (max-width: 500px) {
  .breadcrumbs {
    padding: 15px 0;
    margin-bottom: 10px;

    &__list {
      font-size: 13px;
    }
  }
}