.modal {
  display: none;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba($black, .5);
  backdrop-filter: blur(35px);
  transform: translate3d(0, 0, 0);
  overflow: auto;

  &__inner {
    padding: 20px;
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__box {
    max-width: 710px;
    width: 100%;
    padding: 30px 40px 40px;
    background-color: $white;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    transition: opacity .2s ease;

    &:hover {
      opacity: .7;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $black;
      width: 2px;
      height: 25px;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    transition: opacity .2s ease;

    &_hide {
      opacity: 0;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    line-height: 162%;
    margin-bottom: 35px;
  }

  &__form {
    &-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 15px;
    }
  }

  &__img-success {
    display: flex;
    justify-content: center;

    img {
      width: 200px;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    &__img-success img {
      width: 150px;
    }
  }
}

@media (max-width: 650px) {
  .modal {
    &__form-row {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }
}

@media (max-width: 500px) {
  .modal {
    &__inner {
      padding: 20px 10px;
    }

    &__text {
      margin-bottom: 25px;
    }

    &__box {
      padding: 30px 20px;
    }

    &__img-success img {
      width: 100px;
    }
  }
}