.pagination {
  margin-top: 20px;
  display: flex;
  gap: 10px;

  &__link {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease;

    &:hover {
      background-color: $lightGrey4;
    }

    &_active {
      background-color: $lightGrey4;
    }
  }
}

@media (max-width: 500px) {
  .pagination {
    margin-top: 15px;

    &__link {
      width: 40px;
      height: 40px;
    }
  }
}