.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 342px;

  &__img {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    background-color: rgba($black, .04);
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
      transition: transform .3s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
  
  &__content {
    padding: 15px 10px 20px;
  }

  &__name {
    font-weight: 600;
    line-height: 138%;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 44px;
    transition: color .2s ease;

    &:hover {
      color: $blue;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 147%;
    color: $grey;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 66px;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-family: 'Oswald';
    font-size: 26px;
    color: $blue;
    line-height: 92%;
    -webkit-text-stroke: 1px $blue;

    &-old {
      font-size: 19px;
      line-height: 126%;
      -webkit-text-stroke: initial;
      color: $lightGrey;
      text-decoration: line-through;
      margin-left: 15px;
    }
  }

  &__btn {
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 14px 25px 15px;
  }
}

@media (max-width: 500px) {
  .product-card {
    width: 300px;

    &__img {
      height: 265px;
      padding: 12px;
    }

    &__price {
      -webkit-text-stroke: initial;
    }
  }
}