.range-slider {
  &__field {
    &.irs--round {
      height: 15px;
    }

    .irs-handle {
      top: 0;
      width: 15px;
      height: 15px;
      box-shadow: none;
      border: none;
      background-color: $blue;
      border-radius: 50%;
      transition: background-color .2s ease;

      &:hover,
      &.state_hover {
        background-color: $blue2;
      }
    }

    .irs-bar {
      height: 5px;
      top: 5px;
      background-color: $blue;
    }

    .irs-line {
      top: 5px;
      height: 5px;
    }
  }

  &__controls {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__input {
    min-width: 0;
  }
}

@media (max-width: 500px) {
  .range-slider {
    &__controls {
      gap: 10px;
      padding: 0 10px;
      font-size: 15px;
    }

    &__input {
      padding-block: 12px 11px;
    }
  }
}