.review-card {
  width: 440px;

  &__head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 10px;
  }

  &__date {
    font-size: 15px;
    line-height: 100%;
    color: $lightGrey;
  }

  &__text {
    line-height: 162%;
    color: $grey;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .review-card {
    width: 100%;

    &__text {
      font-size: 15px;
    }
  }
}