.footer {
  padding: 70px 0 50px;

  &_inner {
    background-color: $lightGrey8;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
  }

  &__logo {
    margin-bottom: 30px;

    img {
      max-width: 180px;
      max-height: 75px;
    }
  }

  &__phone {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 90%;
    margin-bottom: 10px;
    transition: color .2s ease;

    &:hover {
      color: $blue;
    }
  }

  &__address {
    color: $grey;
    line-height: 150%;
    margin-bottom: 20px;
  }

  &__messengers {
    display: flex;
    align-items: center;
    gap: 20px;

    &-item {
      display: flex;
      transition: opacity .2s ease;

      &:hover {
        opacity: .7;
      }

      path {
        fill: $grey;
      }
    }
  }

  &__nav {
    &-title {
      font-weight: 600;
      line-height: 138%;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    &-inner {
      display: flex;
      gap: 100px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      max-width: 284px;
    }

    &-link {
      font-size: 14px;
      color: $grey;
      line-height: 143%;
      transition: color .2s ease;

      &:hover {
        color: $blue;
      }
    }
  }

  &__bottom {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid $lightGrey5;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 143%;
  }

  &__copyright {
    color: $grey;
  }

  &__document {
    color: $blue;
    text-decoration: underline;
    margin-left: 50px;
    transition: color .2s ease;

    &:hover {
      color: $lightBlue;
    }

    &:disabled {
      cursor: default;
      pointer-events: none;
      color: rgba($black, .4);
    }
  }
}

@media (max-width: 1180px) {
  .footer {
    &__top,
    &__nav-inner {
      gap: 40px;
    }
  }
}

@media (max-width: 1100px) {
  .footer {
    &_inner {
      background-color: $white;
    }
  }
}

@media (max-width: 900px) {
  .footer {
    &__top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 100px;
    }

    &__nav_catalog {
      grid-column-start: span 2;
      order: 1;
    }

    &__nav-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 60px;

    &__document {
      margin-left: 30px;
    }
  }
}

@media (max-width: 650px) {
  .footer {
    &__top,
    &__nav-inner {
      gap: 40px;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 30px 0;

    &__top {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    &__logo img {
      max-width: 180px;
      max-height: 75px;
    }

    &__nav {
      &_catalog {
        order: 0;
        grid-column-start: span 1;
      }

      &-inner {
        grid-template-columns: 1fr;
        gap: 15px;
      }

      &-list {
        max-width: 100%;
      }
    }

    &__bottom {
      margin-top: 30px;
      padding-top: 30px;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    &__document {
      margin-left: 0;
    }
  }
}