.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  z-index: 10;

  &#{&}_inner {
    background-color: $white;
    color: $black;
  }

  &_inner {
    position: relative;
    padding: 20px 0;
  }

  &__container {
    max-width: 1600px;
  }

  &_inner &__container {
    max-width: 1520px;
  }

  &__inner {
    border-radius: 50px;
    background-color: rgba(#000, .4);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    transform: translate3d(0, 0, 0);
    position: relative;
    transition: border-radius .3s ease;

    &_catalog-opened {
      border-radius: 50px 50px 0 0;
    }
  }

  &_inner &__inner {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    backdrop-filter: none;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__nav {
    display: flex;
    gap: 40px;
    margin: 0 40px;
    align-items: center;

    &-item {
      display: flex;
    }
  }

  &__catalog-btn,
  &__link-text {
    color: $white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity .2s ease;
  }

  &_inner &__catalog-btn,
  &_inner &__link-text {
    color: $black;
  }

  &__catalog-btn {
    display: flex;
    align-items: center;
    transition: opacity .2s ease;

    &:hover {
      opacity: .7;
    }
  }

  &__catalog-burger {
    width: 22px;
    height: 16px;
    position: relative;
    flex-shrink: 0;
    gap: 5px;
    margin-right: 14px;

    div {
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 5px;
      background-color: $white;
      left: 0;
      transition: all .2s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        margin: auto;
        top: 0;
        bottom: 0;
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  &_inner &__catalog-burger div {
    background-color: $black;
  }

  &__catalog-btn_active &__catalog-burger div {
    &:nth-child(1) {
      margin: auto;
      bottom: 0;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      margin: auto;
      top: 0;
      transform: rotate(-45deg);
    }
  }

  &__link {
    &_drop {
      position: relative;
    }

    &_drop &-text {
      position: relative;
      padding-right: 10px;
      cursor: default;
    }

    &-caret {
      display: none;
    }

    &_drop &-caret {
      display: flex;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      width: 6px;
      height: 5px;
      transition: transform .2s ease;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &_drop:hover &-caret {
      transform: rotate(180deg);
    }

    &:hover &-text {
      opacity: .7;
    }
  }

  &_inner &__link-caret path {
    fill: $black;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    justify-content: center;
    padding-top: 40px;
    display: none;

    &-inner {
      flex-grow: 1;
      background-color: $white;
      padding: 20px 40px 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-link {
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
      transition: color .2s ease;

      &:hover {
        color: $blue;
      }
    }
  }

  &__link_drop:hover &__dropdown {
    display: flex;
  }

  &__search {
    display: flex;
    transition: opacity .2s ease;

    &:hover {
      opacity: .7;
    }
  }

  &_inner &__search path {
    fill: $black;
  }

  &__messengers {
    display: flex;
    align-items: center;
    gap: 20px;

    &-item {
      display: flex;
      transition: opacity .2s ease;

      &:hover {
        opacity: .7;
      }
    }
  }

  &_inner &__messengers path {
    fill: $black;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__phone {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    position: relative;
    padding-left: 24px;
    transition: opacity .2s ease;

    &-icon {
      display: flex;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      width: 16px;
      height: 16px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      opacity: .7;
    }
  }

  &_inner &__phone {
    color: $black;

    &-icon path {
      fill: $black;
    }
  }

  &__btn {
    margin-left: 20px;
    font-size: 15px;
    padding: 13px 20px;
  }

  &__catalog {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $white;
    padding: 20px 40px 40px;

    &-inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;
    }

    &-tabs {
      flex-shrink: 0;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 340px;
    }

    &-tab {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 15px;
      line-height: 160%;
      transition: color .2s ease, opacity .2s ease;

      &:hover {
        opacity: .7;
      }

      &_active {
        color: $blue;
      }
    }

    &-list {
      max-width: 1075px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px 24px;
      transition: opacity .1s ease;

      &_hide {
        opacity: 0;
      }
    }

    &-item {
      display: flex;
      align-items: center;
    }

    &-img {
      width: 60px;
      height: 60px;
      display: flex;
      flex-shrink: 0;
      margin-right: 20px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-name {
      line-height: 150%;
      transition: color .2s ease;
    }

    &-item:hover &-name {
      color: $blue;
    }
  }

  &__mobile-btn {
    display: none;
  }

  &__mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100dvh - 98px);
    background-color: $darkBlue;
    color: $white;
    padding: 0 0 30px;
    overflow: auto;
    display: none;

    &-box,
    .container,
    &-inner {
      display: flex;
      min-height: 100%;
    }

    &-inner {
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }

    &-item {
      padding: 15px 0;
      border-top: 1px solid rgba($white, .4);

      &:last-child {
        border-bottom: 1px solid rgba($white, .4);
      }
    }

    &-head {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 22px;
      cursor: pointer;
      color: $white;
      display: block;

      &_drop {
        position: relative;
      }
    }

    &-caret {
      display: none;
    }

    &-head_drop &-caret {
      display: flex;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      width: 8px;
      height: 7px;
      transition: transform .2s ease;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &-head_opened &-caret {
      transform: rotate(180deg);
    }

    &-body {
      padding-top: 15px;
      display: none;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    &-link {
      color: $white;
      font-size: 18px;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
    }

    &-messengers {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-messenger,
    &-search {
      display: flex;
    }

    &-messenger,
    &-search,
    &-head,
    &-link {
      transition: opacity .2s ease;

      &:hover {
        opacity: .7;
      }
    }
  }

  &_inner &__mobile {
    background-color: $white;
    color: $black;

    &-item {
      border-top: 1px solid rgba($black, .4);

      &:last-child {
        border-bottom: 1px solid rgba($black, .4);
      }
    }

    &-head {
      color: $black;
    }

    &-caret path {
      fill: $black;
    }

    &-messengers path {
      fill: $black;
    }

    &-search path {
      fill: $black;
    }

    &-link {
      color: $black;
    }
  }
}

@media (max-width: 1530px) {
  .header {
    &__nav {
      gap: 25px;
      margin: 0 25px;
    }
  }
}

@media (max-width: 1460px) {
  .header {
    background-color: rgba(#000, .4);
    padding: 20px 0;
    backdrop-filter: blur(20px);
    transform: translate3d(0, 0, 0);
    transition: background-color .3s ease, backdrop-filter .3s ease;

    &_inner {
      backdrop-filter: none;
      background-color: $white;
    }

    &_menu-opened {
      background-color: $darkBlue;
      backdrop-filter: none;
    }

    &__inner {
      border-radius: 0;
      background-color: transparent;
      padding: 0;
      backdrop-filter: none;

      &_catalog-opened {
        border-radius: 0;
      }
    }

    &__nav,
    &__search,
    &__messengers {
      display: none;
    }

    &__mobile-btn {
      display: block;
      width: 22px;
      height: 16px;
      position: relative;
      flex-shrink: 0;
      margin-right: 25px;
      transition: opacity .2s ease;

      &:hover {
        opacity: .7;
      }

      div {
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: $white;
        left: 0;
        transition: all .3s ease;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          margin: auto;
          top: 0;
          bottom: 0;
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }
    }

    &_inner &__mobile-btn div {
      background-color: $black;
    }

    &_menu-opened &__mobile-btn div {
      &:nth-child(1) {
        margin: auto;
        bottom: 0;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        margin: auto;
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__info {
      flex-direction: column;
      align-items: flex-end;
    }

    &__phone {
      margin-bottom: 10px;
    }

    &__btn {
      margin-left: 0;
      padding: 10px 15px;
    }

    &__mobile-btn:hover,
    &__phone:hover {
      opacity: 1;
    }

    &__mobile {
      &-head {
        font-size: 20px;
      }

      &-messenger:hover,
      &-search:hover,
      &-head:hover,
      &-link:hover {
          opacity: 1;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    padding: 15px 0;

    &__mobile-btn {
      margin-right: 15px;
    }

    &__phone {
      font-size: 16px;
      line-height: 112%;
    }

    &__btn {
      font-size: 13px;
      padding: 7px 10px;
    }

    &__mobile {
      height: calc(100dvh - 86px);
      padding-bottom: 20px;

      &-head {
        font-size: 15px;
      }

      &-head_drop &-caret {
        width: 6px;
        height: 5px;
      }

      &-link {
        font-size: 15px;
      }

      &-info {
        margin-top: 30px;
      }
    }
  }
}