.about {
  padding: 100px 0;
  margin-bottom: 280px;
  background-color: $darkWhite;

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding-left: 660px;
    min-height: 456px;
  }

  &__content {
    max-width: 710px;
    width: 100%;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    &-main {
      width: 586px;
      object-fit: cover;
    }

    &-small {
      width: 280px;
      height: 280px;
      object-fit: cover;
      align-self: flex-end;
      margin-right: -50px;
      margin-top: -240px;
    }
  }

  &__content {
    max-width: 710px;
    width: 100%;
  }

  &__text {
    max-width: 585px;
    line-height: 162%;
    color: $grey;
    margin-bottom: 30px;
  }
}

@media (max-width: 1130px) {
  .about {
    &__inner {
      padding-left: 460px;
    }

    &__img {
      left: -200px;
    }
  }
}

@media (max-width: 900px) {
  .about {
    padding-bottom: 50px;
    margin-bottom: 100px;

    &__inner {
      min-height: 476px;
      padding-left: 325px;
    }

    &__img {
      left: -170px;

      &-main {
        width: 450px;
      }

      &-small {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 80px;

    &__inner {
      padding-left: 0;
      min-height: 0;
    }

    &__img {
      position: static;
      margin-bottom: 30px;

      &-main {
        width: 100%;
        height: 526px;
        object-fit: cover;
      }
    }

    &__text {
      max-width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .about {
    padding: 30px 0;
    margin-bottom: 40px;

    &__title {
      margin-bottom: 15px;
    }

    &__img {
      margin-bottom: 15px;

      &-main {
        height: 397px;
      }
    }

    &__text {
      font-size: 15px;
      line-height: 167%;
      margin-bottom: 15px;
    }

    &__btn {
      font-size: 15px;
      width: 100%;
      text-align: center;
    }
  }
}