.advantages {
  margin: 80px 0 100px;

  &.scroll-animate {
    opacity: 1;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__item {
    &-counter {
      font-family: 'Oswald';
      font-size: 56px;
      line-height: 100%;
      color: $blue;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      -webkit-text-stroke: 1px $blue;
    }

    &-plus {
      color: $grey;
    }

    &-text {
      font-weight: 600;
      color: $grey;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &-img {
      display: flex;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media (max-width: 992px) {
  .advantages {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      max-width: 100% ;
      gap: 45px 90px;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .advantages {
    margin: 80px 0;
  }
}

@media (max-width: 500px) {
  .advantages {
    margin: 60px 0;

    &__inner {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    &__item {
      text-align: center;
      
      &-img {
        display: none;
      }

      &-counter {
        font-size: 65px;
        justify-content: center;
      }

      &-text {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }
}