.catalog {
  margin: 30px 0 60px;

  &__btns {
    display: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }

  &__filters {
    width: 340px;
    flex-shrink: 0;

    &-head {
      display: none;
    }

    &-row + &-row {
      margin-top: 30px;
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 20px;

      &_nav {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 10px;
      }
    }

    &-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 28px;
      gap: 7px;
    }

    &-link {
      font-size: 15px;
      color: $grey;
      line-height: 160%;
      transition: color .2s ease;

      &:hover {
        color: $blue;
      }
    }

    &-checkboxes {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 13px;
    }

    &-more {
      color: $blue;
      margin-top: 13px;
      font-size: 14px;
      line-height: 143%;
      transition: color .2s ease;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: $blue;
        transition: width .2s ease, opacity .2s ease;
      }

      &:hover::before {
        width: 100%;
      }
    }

    &-range {
      max-width: 310px;
    }

    &-controls {
      display: none;
    }
  }

  &__selection {
    background-color: $lightGrey8;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 15px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    &-input {
      width: 100%;
    }

    &-btn {
      padding: 13px 15px;
    }
  }

  &__content {
    width: 100%;
  }

  &__controls {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &-item {
      background-color: $blue;
      color: $white;
      position: relative;
      font-size: 14px;
      font-weight: 500;
      padding: 9px 36px 9px 13px;
      line-height: 100%;
      border-radius: 35px;
      transition: background-color .2s ease, border .2s ease;

      &:hover {
        background-color: $blue2;
      }
    }

    &-close {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 10px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $white;
      transition: opacity .2s ease;

      &::before,
      &::after {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 10px;
        width: 2px;
        background-color: $blue;
        border-radius: 10px;
        transition: background-color .2s ease;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    &-item_reset {
      background-color: transparent;
      border: 1px solid $lightGrey9;
      color: $grey;

      &:hover {
        background-color: transparent;
        border-color: $grey;
      }
    }

    &-item_reset &-close {
      background-color: transparent;

      &::before,
      &::after {
        background-color: $lightGrey2;
      }
    }

    &-item_reset:hover &-close {
      &::before,
      &::after {
        background-color: $grey;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
  }

  .product-card {
    width: auto;
  }

  &__btn-more {
    width: 100%;
    margin-top: 45px;
    text-transform: uppercase;
  }
}

@media (max-width: 1240px) {
  .catalog {
    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 992px) {
  .catalog {
    &__filters {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      z-index: 100;
      height: 100dvh;
      width: 100%;
      overflow: hidden;
      display: none;

      &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      &-row_nav {
        display: none;
      }

      &-row#{&}-row_nav + &-row {
        margin-top: 0;
      }

      &-head,
      &-content,
      &-controls {
        padding-inline: 40px;
      }

      &-head {
        display: flex;
        justify-content: flex-end;
        background-color: $lightGrey8;
        padding-block: 20px;
        flex-shrink: 0;
      }

      &-content {
        overflow: auto;
        padding-block: 20px;
        flex-grow: 1;
      }

      &-title_drop {
        position: relative;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          right: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 22px;
          height: 12px;
          background-image: url('../../img/icons/dropdown-slim.svg');
          transition: transform .3s ease;
        }
      }

      &-title_drop#{&}-title_opened::before {
        transform: rotate(180deg);
      }

      &-body {
        display: none;
      }

      &-controls {
        display: flex;
        padding-block: 20px;
        box-shadow: 0px 0px 10px rgba($black, 0.12);
        gap: 20px;
      }

      &-close {
        color: $grey;
        font-size: 15px;
        position: relative;
        line-height: 100%;
        padding-left: 26px;
      }

      &-cross {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        width: 16px;
        height: 16px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: $red;
          height: 22px;
          width: 2px;
        }

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }

      &-nav {
        padding-left: 0;
      }
    }

    &__controls,
    &__selection {
      display: none;
    }

    &__btns {
      display: flex;
      margin-bottom: 30px;
      gap: 20px;

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-burger {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 20px;
        margin-right: 10px;

        div {
          width: 100%;
          background-color: $black;
          height: 2px;
          border-radius: 10px;
          transition: background-color .2s ease;
        }
      }

      &-item:hover &-burger div,
      &-item:active &-burger div {
        background-color: $white;
      }
    }
  }
}

@media (max-width: 768px) {
  .catalog {
    &__filters {
      &-head,
      &-content,
      &-controls {
        padding-inline: 20px;
      }
    }

    &__list {
      gap: 30px 20px;
    }

    &__btn-more {
      margin-top: 30px;
    }
  }
}

@media (max-width: 500px) {
  .catalog {
    margin: 10px 0 40px;

    &__title {
      font-size: 22px;
    }

    &__filters {
      &-head,
      &-content,
      &-controls {
        padding-inline: 10px;
      }

      &-head {
        padding-block: 15px;
      }

      &-close {
        font-size: 13px;
      }

      &-content {
        padding-block: 10px;
      }

      &-title {
        font-size: 16px;
        margin-bottom: 15px;

        &_nav {
          text-transform: none;
          line-height: 100%;
          font-weight: 500;
          margin-bottom: 15px;
        }
      }

      &-nav {
        gap: 12px;
      }

      &-link {
        font-size: 14px;
        line-height: unset;
      }

      &-row + &-row {
        margin-top: 25px;
      }

      &-range {
        max-width: 330px;
      }

      &-controls {
        padding-block: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }

      &-control {
        font-size: 13px;
      }
    }

    &__btns {
      margin-bottom: 10px;
      gap: 10px;
      flex-direction: column;

      &-item {
        width: 100%;
        font-size: 13px;
        padding-block: 10px;

        &_filter {
          padding-block: 9px;
        }
      }
    }

    &__list {
      gap: 20px 10px;

      .product-card {

        &__img {
          height: 190px;
          padding: 10px;
        }

        &__content {
          padding-inline: 5px;
        }

        &__name {
          font-size: 12px;
          height: 33px;
          margin-bottom: 8px;
        }

        &__text {
          font-size: 13px;
          height: 57px;
        }

        &__price {
          font-size: 19px;

          &-old {
            font-size: 15px;
            margin-left: 10px;
          }
        }

        &__btn {
          font-size: 14px;
          padding-block: 9px 10px;
        }
      }
    }

    &__btn-more {
      font-size: 14px;
      padding-block: 17px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 350px) {
  .catalog {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}

@media (min-width: 993px) {
  .catalog {
    &__filters,
    &__filters-body {
      display: block !important;
    }
  }
}