.category-list {
  padding-bottom: 100px;
  background-color: $darkWhite;

  &#{&}_normal {
    padding: 0;
  }

  &_normal {
    margin: 30px 0 70px;
    background-color: transparent;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__inner {
    margin-top: -126px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  &_normal &__inner {
    margin-top: 0;
  }

  &__item {
    background-color: rgba($lightGrey2, .9);
    backdrop-filter: blur(20px);
    transform: translate3d(0, 0, 0);
    padding: 20px 10px 10px;
    min-height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: margin-top .3s ease, box-shadow .3s ease;

    &:hover {
      margin-top: -5px;
      box-shadow: 0px 5px 10px 2px rgba($black, .2);
    }

    &:nth-child(3),
    &:nth-child(4) {
      flex-direction: row;
      align-items: flex-start;
      padding: 30px 20px 30px 30px;
      grid-column-start: span 2;
    }

    &:nth-child(n + 7) {
      padding: 20px 10px 0;
    }

    &-title {
      font-weight: 600;
      text-transform: uppercase;
      line-height: 150%;
      padding: 0 15px 15px;
      font-size: 16px;
      word-break: break-word;
    }

    &:nth-child(3) &-title,
    &:nth-child(4) &-title {
      padding: 0;
      margin: 0 15px 15px 0;
      max-width: 290px;
    }

    &-img {
      width: 100%;
      height: 180px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &:nth-child(3) &-img,
    &:nth-child(4) &-img {
      max-width: 350px;
      min-width: 237px;
      height: 222px;
      width: auto;
    }
  }
  
  &__btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 24px;

    &_hidden {
      display: none;
    }
  }
}

@media (max-width: 1400px) {
  .category-list {
    &__inner {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(3),
      &:nth-child(4) {
        grid-column-start: span 2;
      }
    }
  }
}

@media (max-width: 1080px) {
  .category-list {
    &__inner {
      grid-template-columns: 1fr 1fr;
    }

    &__item {
      &:nth-child(3),
      &:nth-child(4) {
        flex-direction: column;
        grid-column-start: span 1;
        padding: 20px 10px 10px;
      }

      &:nth-child(3) &-img,
      &:nth-child(4) &-img {
        height: 180px;
        min-width: 0;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      &:nth-child(3) &-title,
      &:nth-child(4) &-title {
        padding: 0 15px 15px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .category-list {
    padding-top: 40px;

    &__inner {
      margin-top: 0;
      gap: 20px 15px;
    }
  }
}

@media (max-width: 630px) {
  .category-list {
    &__inner {
      grid-template-columns: 1fr;
    }

    &#{&}_normal &__inner {
      grid-template-columns: 1fr 1fr;
    }

    &#{&}_normal &__item {
      &-title {
        font-size: 14px;
        padding-inline: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .category-list {
    padding: 0;
    margin: 10px 0 60px;
    background-color: transparent;

    &_normal {
      margin: 10px 0 40px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__inner {
      gap: 10px;
    }

    &__item {
      padding: 20px 10px 10px;

      &-title,
      &:nth-child(3) &-title,
      &:nth-child(4) &-title {
        padding: 0;
        margin-bottom: 24px;
      }
    }

    &#{&}_normal &__item {
      min-height: 0;

      &-title {
        font-size: 12px;
        text-transform: none;
        margin-bottom: 9px;
      }

      &-img,
      &:nth-child(3) &-img,
      &:nth-child(4) &-img {
        height: 100px;
      }
    }

    &__btn {
      margin-top: 10px;
      font-size: 15px;

      &_hidden {
        display: block;
        padding-block: 14px;
      }
    }
  }
}
