.main-block {
  background-color: $grey;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 160px 0;
  color: $white;
  position: relative;

  &__box {
    position: relative;
    z-index: 1;
  }

  &__container {
    max-width: 1480px;
  }

  &__title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 66px;
    line-height: 115%;
    text-transform: uppercase;
    max-width: 830px;
    margin-bottom: 40px;
  }

  &__advantages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px 60px;
    margin-bottom: 50px;

    &-item {
      display: flex;
      align-items: center;
      max-width: 325px;
    }

    &-icon {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 50%;
      background-color: rgba($black, 0.4);
      backdrop-filter: blur(20px);
      transform: translate3d(0, 0, 0);

      img {
        width: 56px;
        height: 56px;
      }
    }

    &-title {
      font-weight: 700;
      margin-left: 15px;
      text-transform: uppercase;
      line-height: 138%;
    }
  }

  &__bg {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba($black, 0.6) 0%, rgba(102, 102, 102, 0.2) 100%);
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .main-block {
    padding: 150px 0 60px;

    &__title {
      font-size: 46px;
      max-width: 580px;
    }

    &__advantages {
      gap: 20px 40px;

      &-icon {
        width: 65px;
        height: 65px;

        img {
          width: 46px;
          height: 46px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .main-block {
    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 500px) {
  .main-block {
    padding: 135px 0 50px;

    &__title {
      font-size: 29px;
      line-height: 155%;
      margin-bottom: 40px;
    }

    &__advantages {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;

      &-icon {
        width: 50px;
        height: 50px;

        img {
          width: 36px;
          height: 36px;
        }
      }

      &-title {
        font-size: 14px;
        line-height: 143%;
      }
    }

    &__btn {
      width: 100%;
      text-align: center;
    }
  }
}
