.partners-slider {
  margin: 150px 0;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    filter: grayscale(1);
    transition: filter .3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      filter: grayscale(0);
    }
  }

  .swiper-slide + .swiper-slide {
    margin-left: 130px;
  }
}

@media (max-width: 768px) {
  .partners-slider {
    margin: 80px 0;

    .swiper-slide + .swiper-slide {
      margin-left: 40px;
    }
  }
}

@media (max-width: 500px) {
  .partners-slider {
    margin: 60px 0 40px;

    &__head {
      margin-bottom: 15px;
    }

    &__item {
      width: 110px;
      height: 110px;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    .swiper-slide + .swiper-slide {
      margin-left: 0;
    }
  }
}