.product-description {
  margin-top: 60px;

  &__row + &__row {
    margin-top: 60px;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &-btn {
      margin-left: 30px;
    }
  }

  &__title {
    font-size: 22px;
    font-family: 'Oswald';
    text-transform: uppercase;
  }

  &__characters {
    &-btn {
      display: none;
    }

    &-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      max-width: 585px;
      width: 100%;
      font-size: 15px;
      line-height: 133%;
      position: relative;

      & + & {
        margin-top: 15px;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        border-top: 1px dotted $black;
      }
    }

    &-name {
      color: $grey;
    }

    &-value {
      margin-left: 40px;
    }

    &-name,
    &-value {
      position: relative;
      z-index: 1;
      background-color: $white;
    }
  }

  &__text {
    font-size: 15px;
    color: $grey;
    line-height: 173%;
    max-width: 1075px;

    p + p {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1190px) {
  .product-description {
    &__head-btn {
      display: none;
    }

    &__characters {
      &-inner {
        grid-template-columns: 1fr;
        gap: 15px;
      }
      
      &-btn {
        display: block;
        width: fit-content;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 580px) {
  .product-description {
    &__characters {
      &-item {
        flex-direction: column;

        &::before {
          display: none;
        }
      }

      &-value {
        margin-top: 3px;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .product-description {
    margin-top: 20px;

    &__row + &__row {
      margin-top: 20px;
    }

    &__head {
      margin-bottom: 10px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        margin: auto;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../../img/icons/dropdown-slim.svg');
        width: 22px;
        height: 12px;
        transition: transform .3s ease;
      }

      &_opened::before {
        transform: rotate(180deg);
      }
    }

    &__title {
      span {
        display: none;
      }
    }

    &__characters {
      //display: none;

      &-item {
        font-size: 14px;
      }

      &-btn {
        padding-block: 16px;
        width: 100%;
        font-size: 14px;
      }
    }

    &__text {
      display: none;
      font-size: 14px;
    }
  }
}

@media (min-width: 501px) {
  .product-description {
    &__body {
      display: block !important;
    }
  }
}