.product-slider {
  margin: 100px 0;

  &#{&}_inner {
    margin: 70px 0;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .product-slider {
    margin: 80px 0;
  }
}

@media (max-width: 500px) {
  .product-slider {
    margin: 60px 0 40px;

    &#{&}_inner {
      margin: 40px 0;
    }

    &_inner &__head {
      margin-bottom: 10px;
    }

    &__btns {
      gap: 10px;
      margin-bottom: 10px;

      &-item {
        font-size: 14px;
        padding-block: 14px;
      }
    }
  }
}