.product-info {
  margin-bottom: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__images {
    width: 700px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    height: 555px;
    user-select: none;
  }

  &__thumbs {
    width: 120px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;

    &-arrow {
      display: flex;
      width: 20px;
      height: 26px;
      transition: opacity .2s ease;

      &.swiper-button-lock {
        display: none;
      }

      &.swiper-button-disabled {
        opacity: .4;
        cursor: default;
        pointer-events: none;
      }

      svg {
        width: 100%;
        height: 100%;
      }

      path {
        transition: fill .2s ease;
      }

      &:hover path {
        fill: $blue;
      }
    }

    &-inner {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &-item.swiper-slide {
      height: 110px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__preview {
    overflow: hidden;
    width: 100%;
    height: 100%;

    &-item {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding-top: 20px;
    width: 100%;
    margin-left: 33px;
  }

  &__have {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 133%;
    margin-bottom: 30px;

    &-value {
      margin-left: 15px;
      padding-left: 18px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $black;
      }

      &_green {
        color: $green;

        &::before {
          background-color: $green;
        }
      }
    }
  }

  &__characters {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 133%;
    width: fit-content;
    margin-bottom: 20px;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      & + & {
        margin-top: 15px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 100%;
        border-top: 1px dotted $lightGrey;
      }
      
      a {
        color: $blue;
        text-decoration: underline;
        transition: opacity .2s ease;

        &:hover {
          opacity: .7;
        }
      }
    }

    &-name,
    &-value {
      background-color: $white;
      position: relative;
      z-index: 1;
    }

    &-name {
      color: $grey;
    }

    &-value {
      margin-left: 70px;
    }
  }

  &__all-characters {
    color: $blue;
    text-decoration: underline;
    margin-bottom: 30px;
    transition: opacity .2s ease;

    &:hover {
      opacity: .7;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-family: 'Oswald';
    font-size: 36px;
    line-height: 24px;
    color: $blue;
    margin-bottom: 20px;

    &-old {
      font-size: 23px;
      line-height: 23px;
      color: $lightGrey;
      text-decoration: line-through;
      margin-left: 15px;
    }
  }

  &__btn {
    margin-bottom: 30px;
  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: $lightGrey8;
      padding: 15px 15px 20px;
    }

    &-icon {
      display: flex;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      margin-bottom: 12px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
      font-family: 'Oswald';
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1280px) {
  .product-info {
    &__images {
      flex-direction: column-reverse;
      height: auto;
      gap: 10px;
      width: 500px;
    }

    &__preview {
      height: 450px;
    }

    &__thumbs {
      width: 100%;
      height: auto;
      flex-direction: row;
      gap: 20px;

      &-item.swiper-slide {
        width: 100px;
        height: 95px;
      }

      &-arrow {
        transform: rotate(-90deg);
      }
    }
  }
}

@media (max-width: 1040px) {
  .product-info {
    &__content {
      margin-top: 30px;
      padding-top: 0;
      margin-left: 0;
      display: grid;
      grid-template-rows: repeat(5, auto);
      grid-template-columns: 1fr 1.5fr;
      gap: 0 30px;

      &-column:nth-child(2) {
        grid-row-start: span 4;
      }

      &-column:last-child {
        grid-column-start: span 2;
      }
    }

    &__inner {
      flex-direction: column;
    }

    &__images {
      width: 100%;
    }

    &__thumbs {
      display: none;
    }

    &__preview {
      &-item.swiper-slide {
        width: 500px;
      }
    }
  }
}

@media (max-width: 850px) {
  .product-info {
    &__content {
      display: block;

      &-column:nth-child(2) {
        grid-row-start: span 4;
      }

      &-column:last-child {
        grid-column-start: span 2;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-info {
    &__preview {
      height: 295px;

      &-item.swiper-slide {
        width: 300px;
      }
    }
  }
}

@media (max-width: 500px) {
  .product-info {
    margin-bottom: 20px;

    &__title {
      font-size: 22px;
      margin-bottom: 20px;
    }

    &__content {
      margin-top: 20px;
    }

    &__have {
      margin-bottom: 20px;
      justify-content: center;
    }

    &__price {
      justify-content: center;
    }

    &__btn {
      padding: 18px 30px;
      margin-bottom: 0;
      width: 100%;
    }

    &__characters,
    &__all-characters,
    &__advantages {
      display: none;
    }
  }
}
