.request {
  padding: 150px 0 50px;
  background-color: $darkWhite;

  &#{&}_inner {
    padding: 0;
  }

  &_inner {
    background-color: transparent;
    margin: 70px 0;
  }

  &_inner .huge-title__target {
    display: none;
  }

  &__inner {
    background-color: $lightGrey4;
    padding: 40px 50px 50px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  &_inner &__inner {
    background-color: rgba($black, .04);
  }

  &__content {
    max-width: 680px;
    width: 100%;
    min-height: 240px;
    margin-right: 400px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__text {
    line-height: 162%;
    color: $grey;
    margin-bottom: 35px;
  }

  &__form {
    width: 100%;

    &-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  &__img {
    width: 340px;
    height: 240px;
    flex-shrink: 0;
    position: absolute;
    right: 50px;
    top: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1366px) {
  .request {
    padding: 50px 0;
  }
}

@media (max-width: 1100px) {
  .request {
    
    &#{&}_inner {
      background-color: $darkWhite;
      padding: 50px 0;
      margin-bottom: 0;
    }
    
    &__inner {
      max-width: 100%;
      padding: 0;
      background-color: transparent;
    }

    &_inner &__inner {
      background-color: transparent;
    }

    &__img {
      top: 0;
      right: 0;
    }

    &__form-row {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 768px) {
  .request {
    &__img {
      right: -140px;
    }

    &__content {
      margin-right: 240px;
    }
  }
}

@media (max-width: 570px) {
  .request {
    &__img {
      position: static;
      width: 100%;
      margin-bottom: 20px;

      img {
        object-position: top center;
      }
    }

    &__content {
      margin-right: 0;
    }

    &__text {
      margin-bottom: 20px;
    }
    
    &__form-btn {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .request {
    padding: 30px 0;

    &_inner {
      margin: 40px 0;
    }

    &__form {
      &-row {
        gap: 15px;
        margin-bottom: 15px;
      }
    }

    &#{&}_inner {
      padding: 30px 0;
    }
  }
}