.reviews-slider {
  margin: 110px 0 150px;

  &__head {
    margin-bottom: 40px;
  }

  &__inner {
    margin-bottom: 30px;

    .swiper-slide + .swiper-slide {
      margin-left: 60px;
    }
  }
}

@media (max-width: 768px) {
  .reviews-slider {
    margin: 80px 0;

    &__inner {
      .swiper-slide + .swiper-slide {
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 500px) {
  .reviews-slider {
    margin: 40px 0 60px;

    &__head {
      margin-bottom: 30px;
    }

    &__inner {
      .swiper-slide + .swiper-slide {
        margin-left: 0;
      }
    }
    
    &__btn {
      width: 100%;
      text-align: center;
    }
  }
}