.services {
  padding-top: 100px;
  background-color: $darkWhite;

  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
  }

  &__item {
    background-color: $white;
    padding: 20px 20px 30px;
    grid-column-start: span 2;

    &:nth-child(1),
    &:nth-child(4) {
      grid-column-start: span 3;
    }

    &-img {
      width: 100%;
      position: relative;
      height: 250px;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .3s ease;
      }
    }

    &:hover &-img img {
      transform: scale(1.05);
    }

    &-num {
      position: absolute;
      top: -31px;
      left: -4px;
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 95px;
      line-height: 133%;
      color: $white;
      opacity: .58;
      z-index: 1;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-name {
      font-weight: 600;
      max-width: 435px;
      text-transform: uppercase;
      line-height: 150%;
    }

    &-btn {
      margin-left: 25px;
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $blue;
      transition: background-color .3s ease;

      path {
        transition: fill .3s ease;
      }
    }

    &:hover &-btn {
      background-color: $blue;

      path {
        fill: $white;
      }
    }
  }
}

@media (max-width: 1366px) {
  .services {
    &__inner {
      grid-template-columns: 1fr 1fr;
    }

    &__item {
      grid-column-start: span 1;

      &:nth-child(1),
      &:nth-child(4) {
        grid-column-start: span 1;
      }
    }
  }
}

@media (max-width: 992px) {
  .services {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 768px) {
  .services {
    padding-top: 80px;
  }
}

@media (max-width: 500px) {
  .services {
    padding-top: 30px;

    &__item {
      padding: 20px 10px;

      &-img {
        margin-bottom: 20px;
      }

      &-name {
        font-size: 14px;
        line-height: 143%;
      }

      &-btn {
        margin-left: 20px;
      }
    }
  }
}