<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__list-item">
                <a href="#" class="breadcrumbs__link">
                    Станкоинструмент
                </a>
            </li>
            <li class="breadcrumbs__list-item">
                <a href="#" class="breadcrumbs__link">
                    Каталог продукции
                </a>
            </li>
            <li class="breadcrumbs__list-item">
                <span class="breadcrumbs__link">
                    Оборудование для производства мебели
                </span>
            </li>
        </ul>
    </div>
</div>