<div class="header__catalog-list">
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-1.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные станки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-2.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные центры с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-3.png" alt="">
        </div>
        <div class="header__catalog-name">
            Кромкооблицовочные cтанки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-4.png" alt="">
        </div>
        <div class="header__catalog-name">
            Фрезерно-гравировальные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-5.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-6.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-7.png" alt="">
        </div>
        <div class="header__catalog-name">
            Прессовое оборудование
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-8.png" alt="">
        </div>
        <div class="header__catalog-name">
            Окрасочные камеры
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-9.png" alt="">
        </div>
        <div class="header__catalog-name">
            Оборудование для производства наружной рекламы
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-10.png" alt="">
        </div>
        <div class="header__catalog-name">
            Распродажа оборудования для производства мебели
        </div>
    </a>
</div>

<div class="module first-catalog-module">
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-1.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные станки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-2.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные центры с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-3.png" alt="">
        </div>
        <div class="header__catalog-name">
            Кромкооблицовочные cтанки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-4.png" alt="">
        </div>
        <div class="header__catalog-name">
            Фрезерно-гравировальные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-5.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-6.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-7.png" alt="">
        </div>
        <div class="header__catalog-name">
            Прессовое оборудование
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-8.png" alt="">
        </div>
        <div class="header__catalog-name">
            Окрасочные камеры
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-9.png" alt="">
        </div>
        <div class="header__catalog-name">
            Оборудование для производства наружной рекламы
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-10.png" alt="">
        </div>
        <div class="header__catalog-name">
            Распродажа оборудования для производства мебели
        </div>
    </a>
</div>

<div class="module second-catalog-module">
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-1.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные станки2
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-2.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные центры с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-3.png" alt="">
        </div>
        <div class="header__catalog-name">
            Кромкооблицовочные cтанки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-4.png" alt="">
        </div>
        <div class="header__catalog-name">
            Фрезерно-гравировальные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-5.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-6.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-7.png" alt="">
        </div>
        <div class="header__catalog-name">
            Прессовое оборудование
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-8.png" alt="">
        </div>
        <div class="header__catalog-name">
            Окрасочные камеры
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-9.png" alt="">
        </div>
        <div class="header__catalog-name">
            Оборудование для производства наружной рекламы
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-10.png" alt="">
        </div>
        <div class="header__catalog-name">
            Распродажа оборудования для производства мебели
        </div>
    </a>
</div>

<div class="module third-catalog-module">
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-1.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные станки3
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-2.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные центры с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-3.png" alt="">
        </div>
        <div class="header__catalog-name">
            Кромкооблицовочные cтанки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-4.png" alt="">
        </div>
        <div class="header__catalog-name">
            Фрезерно-гравировальные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-5.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-6.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-7.png" alt="">
        </div>
        <div class="header__catalog-name">
            Прессовое оборудование
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-8.png" alt="">
        </div>
        <div class="header__catalog-name">
            Окрасочные камеры
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-9.png" alt="">
        </div>
        <div class="header__catalog-name">
            Оборудование для производства наружной рекламы
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-10.png" alt="">
        </div>
        <div class="header__catalog-name">
            Распродажа оборудования для производства мебели
        </div>
    </a>
</div>

<div class="module fourth-catalog-module">
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-1.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные станки4
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-2.png" alt="">
        </div>
        <div class="header__catalog-name">
            Форматно-раскроечные центры с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-3.png" alt="">
        </div>
        <div class="header__catalog-name">
            Кромкооблицовочные cтанки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-4.png" alt="">
        </div>
        <div class="header__catalog-name">
            Фрезерно-гравировальные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-5.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-6.png" alt="">
        </div>
        <div class="header__catalog-name">
            Сверлильно-присадочные станки с ЧПУ
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-7.png" alt="">
        </div>
        <div class="header__catalog-name">
            Прессовое оборудование
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-8.png" alt="">
        </div>
        <div class="header__catalog-name">
            Окрасочные камеры
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-9.png" alt="">
        </div>
        <div class="header__catalog-name">
            Оборудование для производства наружной рекламы
        </div>
    </a>
    <a href="#" class="header__catalog-item">
        <div class="header__catalog-img">
            <img src="/assets/img/content/catalog-10.png" alt="">
        </div>
        <div class="header__catalog-name">
            Распродажа оборудования для производства мебели
        </div>
    </a>
</div>
