<div class="modal">
    <div class="modal__inner">
        <div class="modal__box">
            <div class="modal__body">
                <div class="title modal__title">
                    Отправлено
                </div>
                <p class="modal__text">
                    Спасибо! Мы получили вашу заявку и свяжемся с вами в ближайшее время
                </p>
                <div class="modal__img-success">
                    <img src="/assets/img/icons/success.svg" alt="Успешно">
                </div>
            </div>
            <button class="modal__close"></button>
        </div>
    </div>
</div>

<div class="module modal-form-module">
    <div class="title modal__title">
        Оставить заявку
    </div>
    <p class="modal__text">
        Заполните форму и мы перезвоним вам в ближайшее время
    </p>
    <form class="modal__form">
        <div class="modal__form-row">
            <input type="text" name="name" placeholder="Ваше имя" class="input modal__form-input" />
            <input type="tel" name="phone" placeholder="Номер телефона" class="input modal__form-input" />
        </div>
        <button type="submit" class="btn modal__form-btn">
            Отправить заявку
        </button>
    </form>
</div>

<div class="module modal-selection-module">
    <div class="title modal__title">
        Подобрать станок
    </div>
    <p class="modal__text">
        Заполните форму и мы перезвоним вам в ближайшее время
    </p>
    <form class="modal__form">
        <div class="modal__form-row">
            <input type="text" name="name" placeholder="Ваше имя" class="input modal__form-input" />
            <input type="tel" name="phone" placeholder="Номер телефона" class="input modal__form-input" />
        </div>
        <button type="submit" class="btn btn_red modal__form-btn">
            Подобрать
        </button>
    </form>
</div>

<div class="module modal-thanks-module">
    <div class="title modal__title">
        Отправлено
    </div>
    <p class="modal__text">
        Спасибо! Мы получили вашу заявку и свяжемся с вами в ближайшее время
    </p>
    <div class="modal__img-success">
        <img src="/assets/img/icons/success.svg" alt="Успешно">
    </div>
</div>
