<ul class="pagination @@class">
    <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link_active">
            1
        </a>
    </li>
    <li class="pagination__item">
        <a href="#" class="pagination__link">
            2
        </a>
    </li>
    <li class="pagination__item">
        <a href="#" class="pagination__link">
            3
        </a>
    </li>
    <li class="pagination__item">
        <a href="#" class="pagination__link">
            4
        </a>
    </li>
    <li class="pagination__item">
        <a href="#" class="pagination__link">
            5
        </a>
    </li>
</ul>