<div class="product-card">
    <a href="#" class="product-card__img">
        <img src="@@productImg" alt="">
    </a>
    <div class="product-card__content">
        <a href="#" class="product-card__name">
            Пилорама ленточная бензиновая «Тайга Т-2Б»
        </a>
        <p class="product-card__text">
            Пилорама с бензиновым двигателем Honda (Lifan -эконом вариант) и механическим подъемом пильной каретки, предназначена для распиловки круглого леса диаметром до 90 см
        </p>
        <div class="product-card__price">
            176 000 ₽
            <div class="product-card__price-old">
                186 000 ₽
            </div>
        </div>
    </div>
    <a href="#" class="btn product-card__btn">
        Купить
    </a>
</div>