<div class="review-card">
    <div class="review-card__head">
        <div class="review-card__img">
            <img src="/assets/img/content/review.jpg" alt="Смородинова А.">
        </div>
        <div class="review-card__info">
            <h5 class="review-card__name">
                Смородинова А.
            </h5>
            <p class="review-card__date">
                12-05-24
            </p>
        </div>
    </div>
    <p class="review-card__text">
        Очень доволен сотрудничеством с этой компанией. Они быстро и профессионально выполнили мой заказ на изготовление деревянной мебели. Качество обработки дерева отличное, а дизайн изделий полностью соответствовал моим пожеланиям. Буду рекомендовать друзьям и знакомым!
    </p>
</div>