<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__content">
                <h2 class="title about__title scroll-animate scroll-animate_fade-in-left">
                    Компания <br /> «Станкоинструмент»
                </h2>
                <div class="about__img scroll-animate scroll-animate_fade-in">
                    <img src="/assets/img/static/about.jpg" alt="" class="about__img-main">
                    <img src="/assets/img/static/about-small.jpg" alt="" class="about__img-small">
                </div>
                <p class="about__text scroll-animate scroll-animate_fade-in-left">
                    Компания предлагает широкий ассортимент станков, включая высокоскоростные линии переработки горбыльной доски, многопильные кромкообрезные станки, торцовочные станки для изготовления поддонов и многое другое. Продукция отличается высоким качеством и надежностью, что гарантирует длительный срок службы оборудования.
                </p>
                <a href="#" class="btn about__btn scroll-animate scroll-animate_fade-in-left">
                    О компании
                </a>
            </div>
        </div>
    </div>
</section>