<section class="advantages scroll-animate js-counter">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages__item">
                <div class="advantages__item-counter">
                    <div class="advantages__item-value">
                        <span data-value="1000">0</span>
                    </div>
                    <div class="advantages__item-plus">
                        +
                    </div>
                </div>
                <p class="advantages__item-text">
                    Станков в наличии
                </p>
                <div class="advantages__item-img">
                    <img src="/assets/img/icons/saw.svg" alt="">
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-counter">
                    <div class="advantages__item-value">
                        <span data-value="15">0</span>
                    </div>
                </div>
                <p class="advantages__item-text">
                    лет на рынке
                </p>
                <div class="advantages__item-img">
                    <img src="/assets/img/icons/calendar.svg" alt="">
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-counter">
                    <div class="advantages__item-value">
                        <span data-value="1000">0</span>
                    </div>
                    <div class="advantages__item-plus">
                        +
                    </div>
                </div>
                <p class="advantages__item-text">
                    клиентов
                </p>
                <div class="advantages__item-img">
                    <img src="/assets/img/icons/handshake2.svg" alt="">
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-counter">
                    <div class="advantages__item-value">
                        <span data-value="20000">0</span>
                    </div>
                    <div class="advantages__item-plus">
                        +
                    </div>
                </div>
                <p class="advantages__item-text">
                    инструментов на складе
                </p>
                <div class="advantages__item-img">
                    <img src="/assets/img/icons/garage.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>