<section class="catalog">
    <div class="container">
        <h1 class="title catalog__title">
            Оборудование для производства мебели
        </h1>
        <div class="catalog__btns">
            <button class="btn btn_ghost catalog__btns-item catalog__btns-item_filter">
                <div class="catalog__btns-burger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                Фильтры
            </button>
            <button class="btn btn_red catalog__btns-item btn-modal" data-module="modal-selection">
                Подобрать станок
            </button>
        </div>
        <div class="catalog__inner">
            <div class="catalog__filters">
                <div class="catalog__filters-inner">
                    <div class="catalog__filters-head">
                        <button class="catalog__filters-close">
                            <span class="catalog__filters-cross"></span>
                            Закрыть фильтры
                        </button>
                    </div>
                    <div class="catalog__filters-content">
                        <div class="catalog__filters-row catalog__filters-row_nav">
                            <h4 class="catalog__filters-title catalog__filters-title_nav catalog__filters-title_drop">
                                Лесопильное оборудование
                            </h4>
                            <div class="catalog__filters-body">
                                <div class="catalog__filters-nav">
                                    <a href="#" class="catalog__filters-link">
                                        Ленточно-делительные станки
                                    </a>
                                    <a href="#" class="catalog__filters-link">
                                        Многопильные станки
                                    </a>
                                    <a href="#" class="catalog__filters-link">
                                        Ленточные пилорамы
                                    </a>
                                    <a href="#" class="catalog__filters-link">
                                        Дисковые пилорамы
                                    </a>
                                    <a href="#" class="catalog__filters-link">
                                        Кромкообрезные станки
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__filters-row">
                            <h4 class="catalog__filters-title">
                                Цена, ₽
                            </h4>
                            <div class="catalog__filters-range range-slider">
                                <input type="text" class="range-slider__field" name="price" value="" data-min="1000"
                                       data-max="10000">
                                <div class="range-slider__controls">
                                    <input type="text" name="from"
                                           class="input range-slider__input range-slider__input_from" placeholder="от">
                                    <input type="text" name="to"
                                           class="input range-slider__input range-slider__input_to" placeholder="до">
                                </div>
                            </div>
                        </div>
                        <div class="catalog__filters-row">
                            <h4 class="catalog__filters-title catalog__filters-title_drop">
                                Бренд
                            </h4>
                            <div class="catalog__filters-body">
                                <div class="catalog__filters-checkboxes">
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Котельный завод Ковровские котлы</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Челябинские строительно-дорожные машины (ЧСДМ)</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Котельный завод Ковровские котлы</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Даниловский завод деревообрабатывающих станков (ДЗДС)</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Белгородский механический завод (БМЗ)</span>
                                    </label>
                                </div>
                                <button class="catalog__filters-more">
                                    Показать все
                                </button>
                            </div>
                        </div>
                        <div class="catalog__filters-row">
                            <h4 class="catalog__filters-title catalog__filters-title_drop">
                                Страна производитель
                            </h4>
                            <div class="catalog__filters-body">
                                <div class="catalog__filters-checkboxes">
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Россия</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Китай</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Словения</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Польша</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__filters-row">
                            <h4 class="catalog__filters-title catalog__filters-title_drop">
                                Устанровка размеров
                            </h4>
                            <div class="catalog__filters-body">
                                <div class=" catalog__filters-checkboxes">
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Ручное</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Электромеханическое</span>
                                    </label>
                                    <label class="checkbox catalog__filters-checkbox">
                                        <input type="checkbox" name="1" class="checkbox__input">
                                        <span class="checkbox__field"></span>
                                        <span class="checkbox__text">Электромеханическое по электронному контроллеру</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__selection">
                            <h4 class="catalog__selection-title">
                                Подобрать станок
                            </h4>
                            <form class="catalog__selection-form">
                                <input type="text" name="name" class="input catalog__selection-input"
                                       placeholder="Ваше имя">
                                <input type="tel" name="phone" class="input catalog__selection-input"
                                       placeholder="Номер телефона">
                                <button type="submit" class="btn btn_red catalog__selection-btn">
                                    Подобрать
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="catalog__filters-controls">
                        <button class="btn catalog__filters-control catalog__filters-control_apply">
                            Применить
                        </button>
                        <button class="btn btn_ghost catalog__filters-control">
                            Сбросить
                        </button>
                    </div>
                </div>
            </div>
            <div class="catalog__content">
                <div class="catalog__controls">
                    <button class="catalog__controls-item">
                        Котельный завод Ковровские котлы
                        <span class="catalog__controls-close"></span>
                    </button>
                    <button class="catalog__controls-item">
                        Россия
                        <span class="catalog__controls-close"></span>
                    </button>
                    <button class="catalog__controls-item">
                        Электромеханическое
                        <span class="catalog__controls-close"></span>
                    </button>
                    <button class="catalog__controls-item catalog__controls-item_reset">
                        Сбросить фильтры
                        <span class="catalog__controls-close"></span>
                    </button>
                </div>
                <div class="catalog__list">
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                    @@include('../parts/product-card.html', {
                    productImg: '/assets/img/content/category-1.png'
                    })
                </div>
                <button class="btn btn_grey catalog__btn-more">
                    Загрузить еще
                </button>
                @@include('../parts/pagination.html', {
                "class": "catalog__pagination"
                })
            </div>
        </div>
    </div>
</section>