<section class="category-list @@if (type === 'normal') { category-list_normal }">
    <div class="container">
        @@if (show_title === true) {
            <h2 class="title category-list__title">
                Каталог товаров
            </h2>
        }
        <div class="category-list__inner">
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Оборудование <br/> для производства мебели
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-1.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Деревообрабатывающее оборудование
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-2.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Инструмент
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-3.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Металлообрабатывающее оборудование
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-4.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    ЛКМ
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-5.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Запасные части
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-7.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Лесопильное оборудование
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-6.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Дополнительное оборудованиЕ
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-1.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Запасные части
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-2.png" alt="">
                </div>
            </a>
            <a href="#" class="category-list__item scroll-animate scroll-animate_fade-in-up">
                <h3 class="category-list__item-title">
                    Б/У Станки
                </h3>
                <div class="category-list__item-img">
                    <img src="/assets/img/content/category-8.png" alt="">
                </div>
            </a>
        </div>
        <a href="#" class="btn category-list__btn scroll-animate scroll-animate_fade-in @@if (show_btn !== true) { category-list__btn_hidden }">
            Другие направления
        </a>
    </div>
</section>