<section class="main-block">
    <div class="main-block__box">
        <div class="container main-block__container">
            <div class="main-block__inner">
                <h1 class="main-block__title">
                    Профессиональное деревообрабатывающее оборудование
                </h1>
                <div class="main-block__advantages">
                    <div class="main-block__advantages-item">
                        <div class="main-block__advantages-icon">
                            <img src="/assets/img/icons/container.svg" alt="Доставка">
                        </div>
                        <h4 class="main-block__advantages-title">
                            Доставляем <br />
                            по всей России и СНГ
                        </h4>
                    </div>
                    <div class="main-block__advantages-item">
                        <div class="main-block__advantages-icon">
                            <img src="/assets/img/icons/help-setting.svg" alt="Помощь">
                        </div>
                        <h4 class="main-block__advantages-title">
                            Помогаем с установкой и настройкой
                        </h4>
                    </div>
                    <div class="main-block__advantages-item">
                        <div class="main-block__advantages-icon">
                            <img src="/assets/img/icons/delivery.svg" alt="Быстро доставим">
                        </div>
                        <h4 class="main-block__advantages-title">
                            Быстро привозим запчасти и расходники
                        </h4>
                    </div>
                    <div class="main-block__advantages-item">
                        <div class="main-block__advantages-icon">
                            <img src="/assets/img/icons/handshake.svg" alt="Гарантия">
                        </div>
                        <h4 class="main-block__advantages-title">
                            Даем гарантию <br />
                            и сервис
                        </h4>
                    </div>
                </div>
                <a href="#" class="btn main-block__btn">
                    Перейти в каталог
                </a>
            </div>
        </div>
    </div>
   <div class="main-block__bg">
       <video src="/assets/video/woodtec_video.mp4" autoplay muted loop preload></video>
   </div>
</section>