<section class="partners-slider slider slider_dot">
    <div class="container">
        <div class="partners-slider__head slider__head">
            <h2 class="title partners-slider__title slider__title scroll-animate scroll-animate_fade-in-left">
                Наши партнёры
            </h2>
            <div class="partners-slider__arrows slider__arrows scroll-animate scroll-animate_fade-in">
                <button class="slider__arrow partners-slider__arrow partners-slider__arrow_prev">
                    @@include('../assets/img/icons/left-arrow.svg')
                </button>
                <button class="slider__arrow partners-slider__arrow partners-slider__arrow_next">
                    @@include('../assets/img/icons/right-arrow.svg')
                </button>
            </div>
        </div>
        <div class="slider__inner partners-slider__inner scroll-animate scroll-animate_fade-in-up">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-1.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-2.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-3.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-4.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-5.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-6.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-1.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-2.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-3.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="partners-slider__item">
                        <img src="/assets/img/content/partner-4.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="slider__dots partners-slider__dots"></div>
    </div>
</section>