<section class="product-slider slider @@if (page === 'inner') {product-slider_inner}">
    <div class="container">
        <div class="product-slider__head slider__head">
            <h2 class="title product-slider__title slider__title scroll-animate scroll-animate_fade-in-left">
                @@title
            </h2>
            <div class="slider__arrows product-slider__arrows scroll-animate scroll-animate_fade-in">
                <button class="slider__arrow product-slider__arrow product-slider__arrow_prev">
                    @@include('../assets/img/icons/left-arrow.svg')
                </button>
                <button class="slider__arrow product-slider__arrow product-slider__arrow_next">
                    @@include('../assets/img/icons/right-arrow.svg')
                </button>
            </div>
        </div>
        @@if (show_btn === "true") {
            <div class="product-slider__btns">
                <a href="#" class="btn product-slider__btns-item">
                    Дополнительное оборудование
                </a>
                <a href="#" class="btn btn_ghost product-slider__btns-item">
                    Расходные материалы
                </a>
            </div>
        }
        <div class="slider__inner product-slider__inner scroll-animate scroll-animate_fade-in-up">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    @@include('../parts/product-card.html', {
                        productImg: '/assets/img/content/category-1.png'
                    })
                </div>
                <div class="swiper-slide">
                    @@include('../parts/product-card.html', {
                        productImg: '/assets/img/content/category-2.png'
                    })
                </div>
                <div class="swiper-slide">
                    @@include('../parts/product-card.html', {
                        productImg: '/assets/img/content/category-8.png'
                    })
                </div>
                <div class="swiper-slide">
                    @@include('../parts/product-card.html', {
                        productImg: '/assets/img/content/category-1.png'
                    })
                </div>
                <div class="swiper-slide">
                    @@include('../parts/product-card.html', {
                        productImg: '/assets/img/content/category-2.png'
                    })
                </div>
                <div class="swiper-slide">
                    @@include('../parts/product-card.html', {
                        productImg: '/assets/img/content/category-8.png'
                    })
                </div>
            </div>
        </div>
    </div>
</section>