<section class="product-description">
    <div class="container">
        <div class="product-description__row">
            <div class="product-description__head product-description__head_opened">
                <h2 class="product-description__title">
                    <span>Технические</span> характеристики
                </h2>
                <button class="btn btn_ghost product-description__head-btn">
                    Задать технический вопрос специалисту
                </button>
            </div>
            <div class="product-description__body product-description__characters">
                <div class="product-description__characters-inner">
                    <div class="product-description__characters-column">
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Габариты рельсового пути (д*в*ш), мм:
                            </div>
                            <div class="product-description__characters-value">
                                8000/100/1060
                            </div>
                        </div>
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Макс. высота пропила:
                            </div>
                            <div class="product-description__characters-value">
                                210 мм
                            </div>
                        </div>
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Диаметр распиливаемого бревна, мм:
                            </div>
                            <div class="product-description__characters-value">
                                900 мм
                            </div>
                        </div>
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Длина обрабатываемого бревна, мм:
                            </div>
                            <div class="product-description__characters-value">
                                6500 мм
                            </div>
                        </div>
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Диаметр пильных колес, мм:
                            </div>
                            <div class="product-description__characters-value">
                                500 мм
                            </div>
                        </div>
                    </div>
                    <div class="product-description__characters-column">
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Параметры ленточных пил длина/ширина, мм:
                            </div>
                            <div class="product-description__characters-value">
                                4026/32-35
                            </div>
                        </div>
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Диаметр распиливаемого бревна, мм:
                            </div>
                            <div class="product-description__characters-value">
                                900 мм
                            </div>
                        </div>
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Производительность по необрезной доске 50 мм, м3/смену:
                            </div>
                            <div class="product-description__characters-value">
                                10-12
                            </div>
                        </div>
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Диаметр пильных колес, мм:
                            </div>
                            <div class="product-description__characters-value">
                                500 мм
                            </div>
                        </div>
                        <div class="product-description__characters-item">
                            <div class="product-description__characters-name">
                                Длина обрабатываемого бревна, мм:
                            </div>
                            <div class="product-description__characters-value">
                                6500 мм
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn_ghost product-description__characters-btn">
                    Задать технический вопрос специалисту
                </button>
            </div>
        </div>
        <div class="product-description__row">
            <div class="product-description__head">
                <h2 class="product-description__title">
                    описание
                </h2>
            </div>
            <div class="product-description__body product-description__text">
                <p>
                    Станок брусующий СБ-750-2в представляет собой станину на которой смонтированы два пильных узла
                    производящих распиловку тонкомера дисковыми пилами. Станок применяется для переработки тонкомера
                    диаметром до 320 мм в комле. Брусующий станок оснащен подающими и принимающими столами, позволяющими
                    осуществить протяжку бревна длиной до 6 м. На брусующий станок может быть установлено от 2-х до 4-х
                    пильных дисков.
                </p>
                <p>
                    Станок обладает повышенной мощностью двигателей для надежной и эффективной распиловки тонкомера
                    твердых пород древесины. Заготовка подается при помощи цепной передачи непрерывно. Скорость подачи
                    контролируется плавно, при помощи преобразователя частоты. Брусующий станок за один проход
                    производит распиловку бревна круглого сечения на двухкантный брус и две необрезные доски. Далее
                    полученный двухкантный брус (лафет) можно передать на дальнейшую переработку в многопильный станок.
                </p>
                <p>
                    Для повышения производительности распиловки пиломатерала вы можете приобрести деревообрабатывающую
                    линию. Брусующий дисковый станок очень быстро окупается в работе, т.к. цена тонкомера в ряде случаев
                    гораздо ниже, чем делового леса. На станок можно купить и установить дисковые пилы диаметром от 630
                    до 750 мм.
                </p>
            </div>
        </div>
    </div>
</section>