<section class="product-info">
    <div class="container">
        <h1 class="title product-info__title">
            Многопильный дисковый станок KRAFTER M-90
        </h1>
        <div class="product-info__inner">
            <div class="product-info__images">
                <div class="product-info__thumbs">
                    <button class="product-info__thumbs-arrow product-info__thumbs-arrow_prev">
                        @@include('../assets/img/icons/top-arrow.svg')
                    </button>
                    <div class="product-info__thumbs-inner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide product-info__thumbs-item">
                                <img src="/assets/img/content/product/product-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide product-info__thumbs-item">
                                <img src="/assets/img/content/product/product-2.jpg" alt="">
                            </div>
                            <div class="swiper-slide product-info__thumbs-item">
                                <img src="/assets/img/content/product/product-3.jpg" alt="">
                            </div>
                            <div class="swiper-slide product-info__thumbs-item">
                                <img src="/assets/img/content/product/product-4.jpg" alt="">
                            </div>
                            <div class="swiper-slide product-info__thumbs-item">
                                <img src="/assets/img/content/product/product-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide product-info__thumbs-item">
                                <img src="/assets/img/content/product/product-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <button class="product-info__thumbs-arrow product-info__thumbs-arrow_next">
                        @@include('../assets/img/icons/down-arrow.svg')
                    </button>
                </div>
                <div class="product-info__preview">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide product-info__preview-item">
                            <img src="/assets/img/content/product/product-1.jpg" alt="">
                        </div>
                        <div class="swiper-slide product-info__preview-item">
                            <img src="/assets/img/content/product/product-2.jpg" alt="">
                        </div>
                        <div class="swiper-slide product-info__preview-item">
                            <img src="/assets/img/content/product/product-3.jpg" alt="">
                        </div>
                        <div class="swiper-slide product-info__preview-item">
                            <img src="/assets/img/content/product/product-4.jpg" alt="">
                        </div>
                        <div class="swiper-slide product-info__preview-item">
                            <img src="/assets/img/content/product/product-1.jpg" alt="">
                        </div>
                        <div class="swiper-slide product-info__preview-item">
                            <img src="/assets/img/content/product/product-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info__content">
                <div class="product-info__have product-info__content-column">
                    <p class="product-info__have-text">
                        Наличие на складе:
                    </p>
                    <p class="product-info__have-value product-info__have-value_green">
                        Eсть в наличии
                    </p>
                </div>
                <div class="product-info__content-column">
                    <ul class="product-info__characters">
                        <li class="product-info__characters-item">
                            <div class="product-info__characters-name">
                                Производитель:
                            </div>
                            <div class="product-info__characters-value">
                                <a href="#" target="_blank">Krafter</a>
                            </div>
                        </li>
                        <li class="product-info__characters-item">
                            <div class="product-info__characters-name">
                                Макс. высота пропила:
                            </div>
                            <div class="product-info__characters-value">
                                210 мм
                            </div>
                        </li>
                        <li class="product-info__characters-item">
                            <div class="product-info__characters-name">
                                Диаметр распиливаемого бревна, мм:
                            </div>
                            <div class="product-info__characters-value">
                                900 мм
                            </div>
                        </li>
                        <li class="product-info__characters-item">
                            <div class="product-info__characters-name">
                                Длина обрабатываемого бревна, мм:
                            </div>
                            <div class="product-info__characters-value">
                                6500 мм
                            </div>
                        </li>
                        <li class="product-info__characters-item">
                            <div class="product-info__characters-name">
                                Диаметр пильных колес, мм:
                            </div>
                            <div class="product-info__characters-value">
                                500 мм
                            </div>
                        </li>
                    </ul>
                    <button class="product-info__all-characters anchor-link" data-target="product-description__characters">
                        Все характеристики
                    </button>
                </div>
                <div class="product-info__content-column">
                    <div class="product-info__price">
                        176 000 ₽ <div class="product-info__price-old">186 000 ₽</div>
                    </div>
                    <button class="btn product-info__btn">
                        Заказать
                    </button>
                </div>
                <div class="product-info__advantages product-info__content-column">
                    <div class="product-info__advantages-item">
                        <div class="product-info__advantages-icon">
                            <img src="/assets/img/icons/delivery-ghost.svg" alt="">
                        </div>
                        <div class="product-info__advantages-text">
                            Доставка по всей России
                        </div>
                    </div>
                    <div class="product-info__advantages-item">
                        <div class="product-info__advantages-icon">
                            <img src="/assets/img/icons/handshake-ghost.svg" alt="">
                        </div>
                        <div class="product-info__advantages-text">
                            Гарантия
                        </div>
                    </div>
                    <div class="product-info__advantages-item">
                        <div class="product-info__advantages-icon">
                            <img src="/assets/img/icons/service-helping.svg" alt="">
                        </div>
                        <div class="product-info__advantages-text">
                            Сервисная поддержка
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>