<section class="request @@if (page === 'inner') {request_inner}">
    <div class="container">
        <div class="huge-title huge-title_small">
            <div class="huge-title__target scroll-animate scroll-animate_fade-in">
                Обратная связь
            </div>
            <div class="request__inner huge-title__box scroll-animate scroll-animate_fade-in-up">
                <div class="request__content">
                    <h2 class="title request__title">
                        Оставить заявку
                    </h2>
                    <p class="request__text">
                        Заполните форму и мы перезвоним вам в ближайшее время
                    </p>
                    <div class="request__img">
                        <img src="/assets/img/static/@@img" alt="">
                    </div>
                    <form class="request__form">
                        <div class="request__form-row">
                            <input type="text" name="name" class="input request__form-input" placeholder="Ваше имя">
                            <input type="tel" name="phone" class="input request__form-input" placeholder="Номер телефона">
                        </div>
                        <button type="submit" class="btn @@if (btn_color !== 'blue') { btn_@@btn_color } request__form-btn">
                            Отправить заявку
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>