<section class="reviews-slider slider slider_dot">
    <div class="container">
        <div class="reviews-slider__head slider__head">
            <h2 class="title reviews-slider__title slider__title scroll-animate scroll-animate_fade-in-left">
                Отзывы наших клиентов
            </h2>
            <div class="reviews-slider__arrows slider__arrows scroll-animate scroll-animate_fade-in">
                <button class="slider__arrow reviews-slider__arrow reviews-slider__arrow_prev">
                    @@include('../assets/img/icons/left-arrow.svg')
                </button>
                <button class="slider__arrow reviews-slider__arrow reviews-slider__arrow_next">
                    @@include('../assets/img/icons/right-arrow.svg')
                </button>
            </div>
        </div>
        <div class="slider__inner reviews-slider__inner scroll-animate scroll-animate_fade-in-up">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    @@include('../parts/review-card.html')
                </div>
                <div class="swiper-slide">
                    @@include('../parts/review-card.html')
                </div>
                <div class="swiper-slide">
                    @@include('../parts/review-card.html')
                </div>
                <div class="swiper-slide">
                    @@include('../parts/review-card.html')
                </div>
                <div class="swiper-slide">
                    @@include('../parts/review-card.html')
                </div>
            </div>
        </div>
        <a href="#" class="btn reviews-slider__btn scroll-animate scroll-animate_fade-in">
            Все отзывы
        </a>
        <div class="slider__dots reviews-slider__dots"></div>
    </div>
</section>