<section class="services">
    <div class="container">
        <h2 class="title services__title scroll-animate scroll-animate_fade-in-left">
            Услуги нашей компании
        </h2>
        <div class="huge-title">
            <div class="huge-title__target scroll-animate scroll-animate_fade-in">
                НАШИ УСЛУГИ
            </div>
            <div class="services__inner huge-title__box">
                <a href="#" class="services__item scroll-animate scroll-animate_fade-in-up">
                    <div class="services__item-img">
                        <div class="services__item-num">
                            01
                        </div>
                        <img src="/assets/img/content/service-1.jpg" alt="">
                    </div>
                    <div class="services__item-content">
                        <div class="services__item-name">
                            Изготовление фрез и ножей по чертежам (или образцу изделия) заказчика.
                        </div>
                        <div class="services__item-btn">
                            @@include('../assets/img/icons/right-down-arrow.svg')
                        </div>
                    </div>
                </a>
                <a href="#" class="services__item scroll-animate scroll-animate_fade-in-up">
                    <div class="services__item-img">
                        <div class="services__item-num">
                            02
                        </div>
                        <img src="/assets/img/content/service-2.jpg" alt="">
                    </div>
                    <div class="services__item-content">
                        <div class="services__item-name">
                            Подбор оборудования по деревообработке, как нового так и Б.У.
                        </div>
                        <div class="services__item-btn">
                            @@include('../assets/img/icons/right-down-arrow.svg')
                        </div>
                    </div>
                </a>
                <a href="#" class="services__item scroll-animate scroll-animate_fade-in-up">
                    <div class="services__item-img">
                        <div class="services__item-num">
                            03
                        </div>
                        <img src="/assets/img/content/service-3.jpg" alt="">
                    </div>
                    <div class="services__item-content">
                        <div class="services__item-name">
                            Большой выбор инструмента на все виды станков в наличии и под заказ.
                        </div>
                        <div class="services__item-btn">
                            @@include('../assets/img/icons/right-down-arrow.svg')
                        </div>
                    </div>
                </a>
                <a href="#" class="services__item scroll-animate scroll-animate_fade-in-up">
                    <div class="services__item-img">
                        <div class="services__item-num">
                            04
                        </div>
                        <img src="/assets/img/content/service-4.jpg" alt="">
                    </div>
                    <div class="services__item-content">
                        <div class="services__item-name">
                            Лаки и Краски по дереву, коллеровка.
                        </div>
                        <div class="services__item-btn">
                            @@include('../assets/img/icons/right-down-arrow.svg')
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>