.scroll-animate {
  opacity: 0;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  &#{&}_animated#{&}_fade-in {
    animation-name: fadeIn;
  }

  &#{&}_animated#{&}_fade-in-up {
    animation-name: fadeInUp;
  }

  &#{&}_animated#{&}_fade-in-left {
    animation-name: fadeInLeft;
  }

  &#{&}_animated#{&}_fade-in-right {
    animation-name: fadeInRight;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
