@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/woff2/OpenSans-Regular.woff2") format("woff2"),
  url("../../fonts/woff/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/woff2/OpenSans-Medium.woff2") format("woff2"),
  url("../../fonts/woff/OpenSans-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/woff2/OpenSans-SemiBold.woff2") format("woff2"),
  url("../../fonts/woff/OpenSans-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/woff2/OpenSans-Bold.woff2") format("woff2"),
  url("../../fonts/woff/OpenSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Oswald";
  src: url("../../fonts/woff2/Oswald-Regular.woff2") format("woff2"),
  url("../../fonts/woff/Oswald-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("../../fonts/woff2/Oswald-Medium.woff2") format("woff2"),
  url("../../fonts/woff/Oswald-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/woff2/Montserrat-Bold.woff2") format("woff2"),
  url("../../fonts/woff/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/woff2/Montserrat-ExtraBold.woff2") format("woff2"),
  url("../../fonts/woff/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}