*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

input,
textarea {
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'OpenSans';
  font-size: 16px;

  &._no-scroll {
    overflow: hidden;
  }
}

body,
a {
  color: $black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header,
.footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1520px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.logo {
  display: flex;

  img {
    max-width: 139px;
    max-height: 58px;
  }
}

.title {
  font-family: 'Oswald';
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 30px;
  z-index: 1;
  position: relative;
}

.slider {

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__arrows {
    display: flex;
    margin-left: 53px;
  }

  &__inner {
    overflow: hidden;
  }

  &__arrow {
    display: flex;

    &.swiper-button-lock {
      display: none;
    }

    & + & {
      margin-left: 23px;
    }

    svg {
      width: 26px;
    }

    path {
      transition: fill .2s ease;
    }

    &:hover path {
      fill: $blue;
    }

    &.swiper-button-disabled {
      cursor: default;

      path {
        fill: rgba($black, .4);
      }
    }
  }

  .swiper-slide {
    width: auto;
  }

  .swiper-slide + .swiper-slide {
    margin-left: 24px;
  }

  &__dots {
    display: none;
  }
}

.module {
  display: none;
}

.huge-title {
  position: relative;

  &__target {
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 175px;
    line-height: 75%;
    color: $darkWhite;
    text-transform: uppercase;
    text-shadow: -1px 1px 1px $lightGrey3, 1px 1px 1px $lightGrey3, 1px -1px 0 $lightGrey3, -1px -1px 0 $lightGrey3;
    white-space: nowrap;
    top: -106px;
  }

  &_small &__target {
    font-size: 145px;
    top: -85px;
  }

  &__box {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 1366px) {
  .huge-title {
    &__target {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 10px;
  }

  .logo img {
    max-width: 100px;
    max-height: 43px;
  }

  .title {
    font-size: 27px;
    margin-bottom: 10px;
  }

  .content_inner .title {
    font-size: 22px;
  }

  .slider {
    &_dot {
      position: relative;
      padding-bottom: 27px;
    }

    &__head {
      margin-bottom: 10px;
    }

    &__title {
      margin-bottom: 0;
    }

    &__arrows {
      display: none;
    }

    &__inner {
      overflow: visible;
    }

    .swiper-slide + .swiper-slide {
      margin-left: 20px;
    }

    &__dots {
      display: flex;
      justify-content: center;
      gap: 5px;
      position: absolute;
      margin: auto;
      bottom: 0 !important;
      left: 0 !important;
      right: 0;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 !important;
        background-color: $lightGrey7;
        opacity: 1;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: $blue;
          border-radius: 50%;
          transition: width .2s ease, height .2s ease;
          width: 0;
          height: 0;
        }
      }

      .swiper-pagination-bullet-active::before {
        width: 6px;
        height: 6px;
      }
    }
  }
}