$white: #fff;
$darkWhite: #F6F6F6;
$black: #000;
$grey: #444444;
$blue: #1C3CEA;
$blue2: #4C67F8;
$lightBlue: #7B8DF1;
$lightPurple: #B1BAE9;
$red: #E3000F;
$redHover: #ff3743;
$redDisabled: #e68b91;
$lightGrey: #797979;
$lightGrey2: #E5E5E5;
$lightGrey3: #CCCCCC;
$lightGrey4: #ededed;
$lightGrey5: #D6D6D6;
$lightGrey6: #D2D2D2;
$lightGrey7: #CDCDCD;
$lightGrey8: #F5F5F5;
$lightGrey9: #D0D0D0;
$darkBlue: #101127;
$green: #21A600;
