@@include('parts/common/header.html', {
"title": "СтанкоИнструмент",
"page": "inner"
})

<div class="container">
    <div class="links-page">
        <a href="/" class="title">
            Главная
        </a>
        <a href="/catalog.html" class="title">
            Категории
        </a>
        <a href="/catalog-products.html" class="title">
            Каталог
        </a>
        <a href="/product.html" class="title">
            Страница товара
        </a>
    </div>
</div>

@@include('parts/common/footer.html', {
"page": "inner"
})
