
    </main>
    <footer class="footer @@if (page === 'inner') { footer_inner }">
        <div class="container">
            <div class="footer__top">
                <div class="footer__info">
                    <a href="#" class="logo footer__logo">
                        <img src="/assets/img/content/logo-black.svg" alt="СтанкоИнструмент">
                    </a>
                    <a href="tel:+7 (4932) 23-42-05" class="footer__phone">
                        +7 (4932) 23-42-05
                    </a>
                    <p class="footer__address">
                        г.Иваново, ул.Станкостроителей, д.20
                    </p>
                    <div class="footer__messengers">
                        <a href="#" target="_blank" class="footer__messengers-item">
                            @@include('../../assets/img/icons/whatsapp.svg')
                        </a>
                        <a href="#" target="_blank" class="footer__messengers-item">
                            @@include('../../assets/img/icons/telegram.svg')
                        </a>
                        <a href="#" target="_blank" class="footer__messengers-item">
                            @@include('../../assets/img/icons/vk.svg')
                        </a>
                        <a href="#" target="_blank" class="footer__messengers-item">
                            @@include('../../assets/img/icons/youtube.svg')
                        </a>
                    </div>
                </div>
                <div class="footer__nav footer__nav_catalog">
                    <div class="footer__nav-title">
                        Каталог
                    </div>
                    <div class="footer__nav-inner">
                        <ul class="footer__nav-list">
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Оборудование для производства мебели
                                </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Деревообрабатывающее оборудование
                                </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Металлообрабатывающее оборудование
                                </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Лесопильное оборудование
                                </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Дополнительное оборудовани
                                </a>
                            </li>
                        </ul>
                        <ul class="footer__nav-list">
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Инструмент
                                </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Материалы
                                </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Клеевые материалы
                                </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Б/У Станки
                                </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__nav-link">
                                    Запасные части
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__nav">
                    <div class="footer__nav-title">
                        Информация
                    </div>
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a href="#" class="footer__nav-link">
                                О компании
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__nav-link">
                                Услуги
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__nav-link">
                                Доставка
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__nav-link">
                                Блог
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__nav-link">
                                Политика конфиденциальности
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <p class="footer__copyright">
                    © 2024 «Станкоинструмент»
                </p>
                <a href="#" class="footer__document">
                    Соглашение о конфиденциальности
                </a>
            </div>
        </div>
    </footer>

    @@include('../modals.html')
</div>

<script src="./assets/js/main.min.js"></script>
</body>
</html>